@import "tailwindcss";
@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
  .text-outline:hover {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  }
}